name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-go@v6
      with:
        go-version: 1.25.4

    - name: Build github.com/minkezhang/bene-api
      run: go build -v github.com/minkezhang/bene-api/...

    - name: Vet github.com/minkezhang/bene-api
      run: go vet -v github.com/minkezhang/bene-api/...

    - name: Test github.com/minkezhang/bene-api
      run: go test -v github.com/minkezhang/bene-api/... -bench . -benchmem
